:root {
  --md-surface: #ffffff;
}
html,body,#root { height: 100%; }
* { box-sizing: border-box; }
body { margin: 0; font-family: Inter, Roboto, system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial; }
a { color: inherit; text-decoration: none; }
main { padding: 24px; }
